h2 {
    text-align: center
}

table {
    width: 75%; 
    height: 75%;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

th {
    width:150px;
    text-align:center;
    border:1px solid black;
    padding:13%
}

th, td {
    width:150px;
    text-align:center;
    border:1px solid black;
    padding:13%
}
