h2 {
    text-align: center
}

table {
    width: 60%; 
    height: 60%;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

th {
    width:150px;
    border:1px solid black;
    padding:7%
}

th, td {
    width:150px;
    border:1px solid black;
    padding:7%
}

.date {
    text-align: center
}

.time {
    text-align: center
}

