<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body style="background-color:lightpink;">
        <h2>Insert Date</h2>
        <h2>Insert Time</h2>
        <div style="text-align:center;">
            <table class="center">
                <tr>
                    <th>Calendar</th>
                    <th>To-Do List</th>
                </tr>
            </table>
            <table class="center">
                <tr>
                    <td>Weather</td>
                    <td>Mood Scale</td>
                </tr>
            </table>
        </div>
    </body>
</html>