<!DOCTYPE html>


<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dais.ly</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    </head>
    <body style="background-color:lightpink;">
        <h2>
            <div class="date">
                <py-script>
                    from datetime import date
                    today = date.today()
                    d2 = today.strftime("%B %d, %Y")
                    print(d2)
                </py-script>
            </div>
        </h2>   
        <h2>
            <div class="time">
                <py-script>
                    from datetime import datetime
                    now = datetime.now()
                    current_time = now.strftime("%H:%M:%S")
                    print(current_time)  
                </py-script>  
            </div>
        </h2>
        <div style="text-align:center;">
            <table class="center">
                <tr>
                    <th>
                        <p ALIGN=LEFT>This month's calendar<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;November 2022<br>Su Mo Tu We Th Fr Sa<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 &nbsp; 2  &nbsp;&nbsp;3  &nbsp;&nbsp;4  &nbsp;&nbsp;&nbsp;5<br>6  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7  &nbsp;&nbsp;&nbsp;&nbsp;8  &nbsp;&nbsp;9 &nbsp;10 &nbsp;11 &nbsp;12<br>13 &nbsp;&nbsp;14 &nbsp;&nbsp;15 &nbsp;16 17 18 &nbsp;19<br>20 &nbsp;&nbsp;21 &nbsp;&nbsp;22 &nbsp;23 24 25 &nbsp;26<br>27 &nbsp;28 &nbsp;&nbsp;&nbsp;29 &nbsp;30</p>
                    </th>
                    <th>
                       <p ALIGN=LEFT>Math: 11/18/2022</p>
                       <p ALIGN=LEFT>Study: 11/20/2022</p>
                       <p ALIGN=LEFT>Application: 11/19/2022</p>
                       <p ALIGN=LEFT>GCIS: 11/21/2022</p>
                    </th>
                </tr>
            </table>
            <table class="center">
                <tr>
                    <td>
                        <b><p>Today's weather</p></b>
                        <b><p ALIGN=LEFT>[11, 20] Day: Windy, with snow showers in the morning. High -2&#8451. Winds W at 30 to 50 km/h. Chance of snow 30%.  Winds could occasionally gust over 65 km/h. <br>Night: Partly cloudy. A few flurries or snow showers possible. Low -7&#8451. Winds SW at 15 to 30 km/h. </p></b>
                    </td>
                    <td>
                        <button type="button">Mood Scale</button>
                    </td>
                </tr>
            </table>
    </body>
</html>